<a href="https://colab.research.google.com/github/Saulcuervo03/Examen1/blob/main/Micro_retailer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [265]:
#Importamos librerias requeridas
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as  plt

In [ ]:
#Cargar archivo csv desde seaborn
from google.colab import files 
files.upload()

In [267]:
#Carga desde un archivo .csv sin indice 
data = pd.read_excel('microretailer_mit_lift_lab.xlsx')

In [ ]:
#Imprimo los primeros 5 registros del DataFrame
data.head()

In [269]:
#Corroboramos valores nulos 
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                0
_title                                    0
_server_updated_at                        0
_updated_by                               0
_geometry                                 0
                                       ...
234_willingness_participate_workshop     73
318_shopkeeper_name                     123
319_shopkeepers_last_name               125
236_whatsapp                            129
235_email                               142
Length: 106, dtype: int64

In [270]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Columns: 106 entries, _record_id to 235_email
dtypes: float64(23), int64(2), object(81)
memory usage: 141.7+ KB

In [271]:
#Sustituir valores nulos por un string en concreto
data["pictures_of_shelves_if_possible"]= data["pictures_of_shelves_if_possible"].fillna("No_picture")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de los estantes. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [272]:
#Sustituir valores nulos por un string en concreto
data["233_date_establishment"]= data["233_date_establishment"].fillna("No_date")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son la fecha de fundación del establecimiento. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_date" para no 
#perder la información de las demás filas.

In [273]:
#Sustituir valores nulos por un string en concreto
data["5_change_store_space_last_year"]= data["5_change_store_space_last_year"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si el espacio en la tienda ha cambiado. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [274]:
#Sustituir valores nulos por un string en concreto
data["6_change_employees_average_salary_last_year"]= data["6_change_employees_average_salary_last_year"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si el salario de los empleados ha cambiado. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [275]:
#Sustituir valores nulos por un string en concreto
data["20_reviews_finances_monthly"] =data["20_reviews_finances_monthly"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si se revisan las finanzas mensualmente. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [276]:
#Sustituir valores nulos por un string en concreto
data["49_inventory_records"]= data["49_inventory_records"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si se tiene un registro de inventario. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [277]:
#Sustituir valores nulos por un string en concreto
data["18_sales_records"]= data["18_sales_records"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los registros de venta. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [278]:
#Sustituir valores nulos por un string en concreto
data["155_sales_registers_used_for"]= data["155_sales_registers_used_for"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los registros de para que se usan las ventas. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [279]:
#Sustituir valores nulos por un string en concreto
data["19_tax_id"] =data["19_tax_id"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los registros de si la tienda tiene RFC. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [280]:
#Sustituir valores nulos por un string en concreto
data["310_burnout"] =data["310_burnout"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si el empleado se siente agotado. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [281]:
#Sustituir valores nulos por un string en concreto
data["186_internet_connection"] =data["186_internet_connection"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si el establecimiento tiene internet. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [282]:
#Sustituir valores nulos por un string en concreto
data["210_sales_channels"]= data["210_sales_channels"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos de si se tiene canales de venta. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [283]:
#Sustituir valores nulos por un string en concreto
data["189_payment_methods"]= data["189_payment_methods"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos de los métodos de pago. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [284]:
#Sustituir valores nulos por un string en concreto
data["28_prefered_payment_method"]= data["28_prefered_payment_method"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son el método de pago preferido. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [285]:
#Sustituir valores nulos por un string en concreto
data["31_different_prices_payment_method"] =data["31_different_prices_payment_method"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los diferentes precios por método de pago. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [286]:
#Sustituir valores nulos por un string en concreto
data["269_cash_discount"]= data["269_cash_discount"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son la respuesta a si hay descuentos. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [287]:
#Sustituir valores nulos por un string en concreto
data["270_card_extra_charge"]= data["270_card_extra_charge"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si hay cargo extra por tarjeta. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [288]:
#Eliminamos columnas innecesarias 
data2= data.drop(['271_card_fee'], axis=1)
#Se eliminó la columna "271_card_fee" del dataframe porque ninguna fila tiene datos; todos son valores nulos por lo que es 
#mejor quitar la columna del conjunto de datos ya que es innecesaria.

In [289]:
#Eliminamos columnas innecesarias 
data3= data2.drop(['273_platform_extra_charge'], axis=1)
#Se eliminó la columna "273_platform_extra_charge" del dataframe porque ninguna fila tiene datos; todos son valores nulos por lo que es 
#mejor quitar la columna del conjunto de datos ya que es innecesaria.

In [290]:
#Eliminamos columnas innecesarias 
data4= data3.drop(['274_platform_fee'], axis=1)
#Se eliminó la columna "274_platform_fee" del dataframe porque ninguna fila tiene datos; todos son valores nulos por lo que es 
#mejor quitar la columna del conjunto de datos ya que es innecesaria.

In [291]:
#Eliminamos columnas innecesarias 
data5= data4.drop(['275_platform_days_receive_money'], axis=1)
#Se eliminó la columna "275_platform_days_receive_money" del dataframe porque ninguna fila tiene datos; todos son valores nulos por lo que es 
#mejor quitar la columna del conjunto de datos ya que es innecesaria.

In [292]:
#Sustituir valores nulos por un string en concreto
data5["30_payment_methods_large_purchases"]= data5["30_payment_methods_large_purchases"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las respuestas a si hay pagos tardíos. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [293]:
#Sustituir valores nulos por un string en concreto
data5["214_customer_relationship_tools"]= data5["214_customer_relationship_tools"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si existen herramientas para comunicarse con los clientes. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [294]:
#Sustituir valores nulos por un string en concreto
data5["33_credit_to_customers"] =data5["33_credit_to_customers"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se le da crédito a los clientes. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [295]:
#Sustituir valores nulos por un string en concreto
data5["35_interest_rate"] =data5["35_interest_rate"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son el rango de interés. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [296]:
#Sustituir valores nulos por un string en concreto
data5["38_average_margin_profits"]= data5["38_average_margin_profits"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los márgenes de ganancia. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [297]:
#Sustituir valores nulos por un string en concreto
data5["193_sales_planning_tools"]= data5["193_sales_planning_tools"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son cómo planean ventas. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [298]:
#Sustituir valores nulos por un string en concreto
data5["227_agreement_ecommerce_platforms"] =data5["227_agreement_ecommerce_platforms"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si hay acuerdos con plataformas en línea. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [299]:
#Sustituir valores nulos por un string en concreto
data5["60_services"]= data5["60_services"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si hay pago de servicios. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [300]:
#Sustituir valores nulos por un string en concreto
data5["77_delivery_timeslots"]= data5["77_delivery_timeslots"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los tiempos de entrega de mercancía. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [301]:
#Sustituir valores nulos por un string en concreto
data5["79_delivery_vehicle"]= data5["79_delivery_vehicle"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los datos del repartidor. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [302]:
#Sustituir valores nulos por un string en concreto
data5["64_comission_services"]= data5["64_comission_services"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son la comisión por servicio. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [303]:
#Sustituir valores nulos por un string en concreto
data5["66_percentaje_services_income"]= data5["66_percentaje_services_income"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son el porcentaje por servicios. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [304]:
#Sustituir valores nulos por un string en concreto
data5["69_why_not_services"]= data5["69_why_not_services"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son por que no se da el servicio. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [305]:
#Sustituir valores nulos por un string en concreto
data5["311_topups"]= data5["311_topups"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son de los topups. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [306]:
#Sustituir valores nulos por un string en concreto
data5["312_payment_of_utilities"]= data5["312_payment_of_utilities"].fillna("No_info") 
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las utilidades de pago. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [307]:
#Sustituir valores nulos por un string en concreto
data5["313_home_deliveries"]= data5["313_home_deliveries"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se entrega a domicilio. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [308]:
#Sustituir valores nulos por un string en concreto
data5["314_reception_delivery_packages"]= data5["314_reception_delivery_packages"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si recibirían paquetes. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [309]:
#Sustituir valores nulos por un string en concreto
data5["42_willingness_share_inventory_data_suppliers"]= data5["42_willingness_share_inventory_data_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se quiere compartir información del inventario. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [310]:
#Sustituir valores nulos por un string en concreto
data5["44_willingness_inventory_management_suppliers"]= data5["44_willingness_inventory_management_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se quiere compartor info con los suppliers. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [311]:
#Sustituir valores nulos por un string en concreto
data5["45_willingness_reorder_suppliers"]= data5["45_willingness_reorder_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se dejaría a los suppliers ordenar. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [312]:
#Sustituir valores nulos por un string en concreto
data5["46_willingness_reorder_suppliers_variety"]= data5["46_willingness_reorder_suppliers_variety"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se dejaría reordenar pero por más variedad. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [313]:
#Sustituir valores nulos por un string en concreto
data5["47_willingness_reorder_suppliers_lower_prices"]= data5["47_willingness_reorder_suppliers_lower_prices"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se dejaría reordenar por menores precios. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [314]:
#Sustituir valores nulos por un string en concreto
data5["43_willingness_share_sales_data_suppliers"]= data5["43_willingness_share_sales_data_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se compartiría información de suppliers. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [315]:
#Sustituir valores nulos por un string en concreto
data5["58_willingness_share_sales_data_mse"]= data5["58_willingness_share_sales_data_mse"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se compartiría información de sus ganancias. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [316]:
#Sustituir valores nulos por un string en concreto
data5["59_willingness_share_sales_data_mse_better_prices"]= data5["59_willingness_share_sales_data_mse_better_prices"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se compartiría info de ganancias por mejores precios. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [317]:
#Sustituir valores nulos por un string en concreto
data5["185_place_orders_suppliers"]= data5["185_place_orders_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si se va al lugar de los suppliers. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [318]:
#Sustituir valores nulos por un string en concreto
data5["53_special_conditions_suppliers"]= data5["53_special_conditions_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si hay condiciones especiales. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [319]:
#Sustituir valores nulos por un string en concreto
data5["278_credit_interest"]= data5["278_credit_interest"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son si hay interés en crédito. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [320]:
#Sustituir valores nulos por un string en concreto
data5["192_procurement_planning_tools"]= data5["192_procurement_planning_tools"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son de las planning tools. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [321]:
#Sustituir valores nulos por un string en concreto
data5["277_payment_method_suppliers"]= data5["277_payment_method_suppliers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son el método de pago a suppliers. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [322]:
#Sustituir valores nulos por un string en concreto
data5["56_procurement_changes_pandemic"] =data5["56_procurement_changes_pandemic"].fillna("No answer")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son los cambios por la pandemia. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No answer" para no 
#perder la información de las demás filas.

In [323]:
#Sustituir valores nulos por un string en concreto
data5["279_changes_procurement_pandemic"]= data5["279_changes_procurement_pandemic"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las cambios por la pandemia. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [324]:
#Sustituir valores nulos por un string en concreto
data5["157_frequency_organize_shelves"]= data5["157_frequency_organize_shelves"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son la frecuencia de ordenar. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [325]:
#Sustituir valores nulos por un string en concreto
data5["158_charact_organize_products_on_shelves"]= data5["158_charact_organize_products_on_shelves"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son de los productos en estantes. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [326]:
#Sustituir valores nulos por un string en concreto
data5["161_actions_stockouts"]= data5["161_actions_stockouts"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las acciones en escacez. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [327]:
#Sustituir valores nulos por un string en concreto
data5["162_inventory_extra_space"]= data5["162_inventory_extra_space"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son el inventario extra. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [328]:
#Sustituir valores nulos por un string en concreto
data5["249_technology_training"]= data5["249_technology_training"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [329]:
#Sustituir valores nulos por un string en concreto
data5["250_technology_investment_operations"]= data5["250_technology_investment_operations"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [330]:
#Sustituir valores nulos por un string en concreto
data5["251_technology_investment_customers"]= data5["251_technology_investment_customers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_info" para no 
#perder la información de las demás filas.

In [331]:
#Sustituir valores nulos por un string en concreto
data5["254_technology_roadmap"]= data5["254_technology_roadmap"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [332]:
#Sustituir valores nulos por un string en concreto
data5["260_technology_scalable"]= data5["260_technology_scalable"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [333]:
#Sustituir valores nulos por un string en concreto
data5["261_technology_organization"]= data5["261_technology_organization"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [334]:
#Sustituir valores nulos por un string en concreto
data5["262_technology_serve_customers"]= data5["262_technology_serve_customers"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [335]:
#Sustituir valores nulos por un string en concreto
data5["263_technology_secure_sales"]= data5["263_technology_secure_sales"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [336]:
#Sustituir valores nulos por un string en concreto
data5["264_technology_budget"]= data5["264_technology_budget"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [337]:
#Sustituir valores nulos por un string en concreto
data5["267_technology_investment_customer_preferences"]= data5["267_technology_investment_customer_preferences"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [338]:
#Sustituir valores nulos por valores no nulos hacia atrás "backward fill" ("bfill")
#Filtro por columnas
data5["234_willingness_participate_workshop"] =data["234_willingness_participate_workshop"].fillna("No answer")
#Argumentación: Se utilizó el filtro de backward fill para rellenar los valores nulos con los string "Yes" o "No" que están detrás del valor 
#nulo para que los datos de la columna puedan variar entre "Yes" y "No"

In [339]:
#Sustituir valores nulos por un string en concreto
data5["318_shopkeeper_name"]= data5["318_shopkeeper_name"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [340]:
#Sustituir valores nulos por un string en concreto
data5["319_shopkeepers_last_name"]= data5["319_shopkeepers_last_name"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [341]:
#Sustituir valores nulos por un string en concreto
data5["236_whatsapp"]= data5["236_whatsapp"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [342]:
#Sustituir valores nulos por un string en concreto
data5["235_email"]= data5["235_email"].fillna("No_info")
#Argumentacion: Se utilizó el método de sustituir los valores nulos por un valor en concreto. 
#En este caso los datos son las fotos de la mercancía siendo entregada. Los valores nulos son string y por eso se reemplazaron estos valores con la frase "No_picture" para no 
#perder la información de las demás filas.

In [343]:
#Corroboramos valores nulos 
valores_nulos=data5.isnull().sum().sum()
valores_nulos

1907

In [344]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Columns: 102 entries, _record_id to 235_email
dtypes: float64(18), int64(2), object(82)
memory usage: 136.4+ KB

In [ ]:
#Filtro por columnas
filtro_cual=data5.iloc[ : , [0,1,2,3,4,5,6,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,42,43,44,46,48,49,50,51,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,75,76,77,78,79,80,81,82,83,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101]]
#filtro_cual=data.iloc[ : , [12, 26, 27, 28, 29, 30, 31]]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro_cual

In [ ]:
#Filtro por columnas
filtro1=data5.iloc[ : , [13,14,16,21,22,29,31,33,41,45,47,52,53,54,55,56,74,86]]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro1

In [347]:
#Corroboramos valores nulos 
valores_nulos=filtro_cual.isnull().sum().sum()
valores_nulos

0

In [348]:
#Corroboramos valores nulos 
valores_nulos=filtro1.isnull().sum()
valores_nulos

97_number_of_customers_in_store                        0
268_number_fridges                                     3
104_how_many_shelves_does_the_micro_retailer_have      0
2_current_permanent_employees                         60
4_number_permanent_employees_last_year                76
103_number_own_fridges                               144
145_number_direct_competitors                         68
24_burnout                                           133
272_card_days_receive_money                          127
276_expected_days_informal_credit                    147
36_credit_default_rate                               157
315_frequency_topups                                 161
316_frequency_utility_bills                          169
317_home_deliveries                                  154
62_frequency_only_services                           147
78_number_home_deliveries_week                       169
172_supplier_frequency                                99
163_number_high_perishable_products                   93
dtype: int64

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=filtro1
percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q2
iqr= percentile75 - percentile25
Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)
#Utilizamos el método de Cuartiles para encontrar los cuartiles 0.25 y 0.75 de la columna, para posteriormente identificarlos y limpiar los datos, 
#es decir sustituir estos valores atípicos o outliers.

In [ ]:
#Encontramos Outliers
outliers_iqr= filtro1[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
#Obtenemos datos limpios
data_clean_iqr= filtro1[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data_clean_iqr

In [ ]:
#Corroboramos valores nulos 
valores_nulos=data_clean_iqr.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data_clean_iqr.copy()
data_clean=data_clean_iqr.fillna(round(data_clean_iqr.mean(),1))
data_clean

In [ ]:
#Corroboramos valores nulos 
valores_nulos=data_clean.isnull().sum()
valores_nulos

In [ ]:
Micro_limpio = pd.concat([data_clean, filtro_cual], axis=1)
Micro_limpio

In [ ]:
#Corroboramos valores nulos 
valores_nulos=Micro_limpio.isnull().sum().sum()
valores_nulos

In [358]:
#Convertir DataFrame a CSV 
Micro_limpio.to_csv("Micro_limpio.csv")

In [359]:
#Descargar archivo filtrado en csv 
from google.colab import files 
files.download("Micro_limpio.csv")